html {
    background-color: #00B8D4;
    
}
body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
}
h1 {
    color: #00838F;
}
.topbar {
    height: 50px;
    color: white;
    background-color: #00BCD4;
    padding-bottom: 100px;
    padding-top: 20px;
}
.navlogo {
    padding-left: 10px;
    padding-bottom: 30px;
}
.fa {
    color: white;
}
.navbar {
    background-color: #4DD0E1;
    color: white;
}
.navbar a {
    color: white;
}
.icon-bar {
    background-color: white;
}
.nav {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.nav > li > a:hover {
    /*background-color: #E0F7FA;*/
     background-color: #4DD0E1;
    color: #00838F;
}
p.uppercase {
    text-transform: uppercase;
}
p.lowercase {
    text-transform: lowercase;
}
p.capitalize {
    text-transform: capitalize;
}
.teamtitle {
    padding-bottom: 50px;
}
.logo {
    color: #00B8D4;
    display: inline-block;
    float: none;
}
#services {
    
}
#contact {
    height: 180px;
    width: 100%;
    background-color: #00BCD4;
    color:white;
    
}
#extra{
    padding-bottom:50px;
}
